<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fh.kl.wamomu"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.NavigationDrawer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationDrawer"/>
            </activity>

        <service android:name=".bluetooth.service"
            android:screenOrientation ="portrait"
            android:enabled="true"
            android:theme="@style/Theme.AppCompat.Light"></service>
        <activity android:name=".ui.Register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"></activity>
    </application>

</manifest>
